.container {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.301);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  @include breakpoint-up(md) {
    padding: 0;
  }
  & > div {
    background: $color-5;
    padding: 1.5rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40rem;
    @include breakpoint-up(md) {
      padding: 3rem;
    }
    .title {
      color: $color-4;
      font-weight: 700;
      font-size: 2rem;
      @include breakpoint-up(sm) {
        font-size: 3rem;
      }
    }
    .subtitle {
      color: $color-6;
      font-weight: 700;
      font-size: 0.8rem;
      margin-bottom: 1rem;
      @include breakpoint-up(sm) {
        font-size: 1rem;
      }
    }
    .card {
      background: #dfe7ec;
      padding: 1rem;
      width: 100%;
      margin-bottom: 0.8rem;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span:nth-child(1) {
        color: $color-6;
        font-weight: 700;
        font-size: 0.8rem;
        @include breakpoint-up(sm) {
          font-size: 1rem;
        }
      }
      span:nth-child(2) {
        color: $color-3;
        font-weight: 700;
        font-size: 1rem;
        @include breakpoint-up(sm) {
          font-size: 2rem;
        }
      }
      &.winner {
        background-color: $color-4;
        span {
          color: $color-8;
        }
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 2rem;
      gap: 1rem;
      flex-direction: column;
      @include breakpoint-up(sm) {
        font-size: 1rem;
        flex-direction: row;
      }
    }
  }
}
