@import "../utils/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: $color-4;
  color: $color-8;
  gap: 50px;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
